body {
  background-color: lightpink;
}

header {
  background: url(Glitter.jpg);
  background-size: cover;
  height: 250px;
  text-align: center;
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 40px;
}

header img {
  width: 30%;
  height: 20%;
}

.Titles {
  float: left;
  padding-top: 20px;
  font-size: 40px;
  font-family: sans-serif;
}

.left {
  float: left;
  width: 30%;
  height: 300px;
  padding: 4px;
}

.middle {
  float: left;
  width: 40%;
  height: 300px;
  padding: 4px;
}

.right {
  float: right;
  width: 25%;
  height: 300px;
  padding: 4px;
}

.Merch {
  width: 100%;
}

.Merch img {
  width: 100%;
}

.About {
  width: 100%;
}

.About img {
  width: 100%;
}

.middle img {
  width: 100%;
}

.Books {
  width: 100%;
}

.Game {
  width: 100%;
}

.Game img {
  width: 100%;
}

video {
  width: 100%;
}

.buttons-container {
  width: 100%;
}
